.table {
    width: 100%;
    table-layout: fixed;
}

.pagination p {
    margin-top: auto;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.editButton {
    margin-left: 0.5rem;
}

.editForm {
    display: inline-flex;
}

.tagInput {
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 120px;
    max-width: 100%;
}

.tagSubmitBtn {
    margin-left: 0.3rem;
}

.tagCloseBtn {
    margin-left: 0.3rem;
}

.tagBtns {
    margin-top: 0.5rem;
}

.btnAddTask {
    font: inherit;
    cursor: pointer;
    background-color: #95bcf0;
    border: 1px solid #95bcf0;
    color: black;
    padding: 0.25rem 2rem;
    border-radius: 13px;
    font-weight: bold;
    display: inline-block;
    margin-left: 2rem;
    height: 3rem;
}

.searchBar {
    margin: auto;
}

.header {
    display: flex;
    margin-bottom: 2rem;
}

button:hover {
    background-color: #7cadee;
    border-color: #7cadee;
}

.th {
    text-align: left;
    background-color: #95bcf0;
}

.noTasks {
   text-align: center;
    margin: 2rem;
}