.tasks {
    max-width: 120rem;
    width: 90%;
    margin: 2rem auto;
}

.tasks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.argsTitle {
    margin-bottom: 1rem;
}

.head {
    display: inline-flex;
}

.addToCompareBtn {
    margin-left: 1rem;
    height: 50px;
}